/* =======font import========== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* =========Variable declaration============ */
:root {
    --pink: #FFF4E7;
    --orange: #FF900E;
    --black: #131313;
    --dark-grey: #424242;
    --light-grey: #727272;
}

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--pink);
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--light-grey);
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}

/* ===========Navigation============= */
.nav {
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--black);
    font-weight: 700;
    font-size: 45px;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-grey);
    margin-right: 30px;
}

/* ============Banner css============= */
.banner {
    margin: 45px 200px;
    /* padding: 50px 0; */
}

.banner-title {
    color: var(--black);
    font-weight: 700;
    font-size: 64px;
}

.banner-text {
    color: var(--light-grey);
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0px;
}

.btn-primary {
    color: white;
    background-color: var(--orange);
    height: 64px;
    padding: 20px 24px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.2s linear;
}

.btn-primary:hover{
    background-color: #5b442a;
    scale: 1.01;
}

.banner-content {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    padding: 30px 0;
}

/* =========Quick feature css============ */

.quick-feature {
    margin: 85px 250px;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72px;
}
.feature-images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-images img {
    width: 100%;
}


.feature-content {
    width: 50%;
}

.quick-feature .feature-content h2 {
    color: var(--black);
    margin-bottom: 24px;
}

.quick-feature .feature-content span:first-child {
    color: var(--light-grey);
}

.quick-feature .feature-content span:last-child {
    color: var(--orange);
}

.feature-content>.section-text {
    margin-bottom: 24px;
}

/* .more-features {
    margin: 100px 200px;
} */



/* ==========More features css =========*/

.more-features {
    margin: 120px 200px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.more-features-contents,
.more-features-image {
    width: 50%;
}

.more-features-image img {
    width: 100%;
}

.more-features-contents .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature h4 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.feature {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.more-features-image {
    position: relative;
}

.experience {
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    position: absolute;
    left: -10%;
    top: 90%;
    text-align: center;
}

.experience h1 {
    font-weight: 700;
    font-size: 40px;
}

.experience p {
    font-weight: 500;
    font-size: 20px;
}

/* ==========Some Facts========== */
.some-facts {
    margin: 0 200px;
}

.facts-content {
    width: 50%;
}

.achievements {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}

.achievement {
    text-align: center;
    border: 1px solid var(--orange);
    border-radius: 8px;
    padding: 30px 10px;
    transition: all 0.3s linear;
}
.achievement:hover{
    background-color: #FF900E;
    scale: 1.1;

}
.achievement:hover.achievement p{
    color: white;
}
.achievement:hover.achievement h2{
    color: white;
}

.achievement h2 {
    color: #424242;
    font-size: 45px;
    font-weight: 600px;
}

.achievement p {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* ============Sponsors============= */ 

.our-sponsors{
    margin: 150px 200px;
}
.sponsors-text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}
.sponsors img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

/* ==========contact us============ */
.contact-us{
    margin: 0 200px;
    text-align: center;
}
form{
    text-align: center;
    margin-top: 30px;
    padding: 20px 10px;
}
form input, form textarea{
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 15px;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #af5f03;
}
.container{
    box-shadow: 0 0 15px rgb(229, 229, 229,0.5);
    width: 60%;
    margin: 0 auto;
}

/* ==============footer============ */
footer{
    margin: 100px 200px;
    text-align: center;
    background-color: var(--pink);
    padding: 30px;
    border-radius: 5px;
}