@media only screen and (max-width:576px) {
    .section-title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .section-text {
        font-size: 14px;
    }

    .logo {
        font-size: 18px;
    }
    .menu a {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: 500;
        font-size: 10px;
        color: var(--dark-grey);
    }

    .nav {
        padding: 20px 30px;
    }

    .banner {
        margin: 30px 30px;
    }

    .banner-title {
        font-size: 32px;
        width: 100%;
    }

    .banner-text {
        font-size: 14px;
    }

    .btn-primary {
        height: 50px;
        padding: 10px 15px;
        font-size: 14px;
    }

    .banner-content {
        width: 100%;
    }

    /* =====quick-list=========== */
    .quick-feature {
        margin: 50px 30px;
    }

    .feature-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .feature-images {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .feature-content {
        width: 100%;
    }

    .quick-feature .feature-content h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    /* ==========features=========== */
    .more-features {
        margin: 50px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .more-features-contents,
    .more-features-image {
        width: 100%;
    }

    .feature h4 {
        font-size: 18px;
    }

    .experience {
        padding: 15px 20px;
        position: absolute;
        left: 20%;
        top: 90%;
        text-align: center;
    }

    .experience h1 {
        font-size: 30px;
    }

    .experience p {
        font-size: 18px;
    }

    /* ==========Some Facts========== */

    .some-facts {
        margin: 100px 30px;
    }

    .facts-content {
        width: 100%;
    }

    .achievements {
        margin-top: 60px;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .achievement {
        padding: 30px 0px;
    }

    .achievement h2 {
        font-size: 32px;
    }

    .achievement p {
        font-size: 16px;
    }

    /* ============Sponsors============= */
    .our-sponsors {
        margin: 50px 30px;
    }

    .sponsors-text {
        width: 100%;
    }

    .sponsors {
        flex-direction: column;
        gap: 50px;
    }

    .sponsors img {
        width: 30%;
    }

    /* ==========contact us============ */
    .contact-us {
        margin: 0 30px;
        text-align: center;
    }

    form input,
    form textarea {
        width: 100%;
        margin-bottom: 10px;
        font-size: 12px;
        padding: 8px 10px;
    }
    .submit-btn{
        padding: 10px 30px;
        margin-top: 15px;
        font-size: 16px;
    }
    .container {
        width: 100%;
    }

    /* ==============footer============ */
    footer {
        margin: 50px 30px;
        padding: 20px;
    }
    footer .section-text{
        font-size: 10px;
    }
}